@import url("./utils/variables.css");

.app,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    scroll-behavior: smooth;
    transition: .4s;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

    /*============= SCROLLBAR =============*/

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(var(--second-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--second-hue), 8%, 26%);
    border-radius: .5rem;

}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--second-hue), 8%, 20%);
}

/*============= LIGHT THEME ============= */

.light::-webkit-scrollbar {
    background-color: hsl(var(--second-hue), 8%, 66%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--second-hue), 8%, 54%);

}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--second-hue), 8%, 44%);
}